html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #D3D3D3;
}

h1 {
  color: #1e252c;
  font-size: 30px;
  text-align: center;
}

h2 {
  color: #ffff;
  font-size: 26px;
  line-height: 40px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 40px;
  min-height: 100vh;
  @media (min-width: 750px) {
    justify-content: space-between;
  }
}

form {
  min-width: 300px;
  padding-top: 40px;
  @media (min-width: 750px) {
    padding: 0;
  }
}

.mobile {
  width: 100%;
  margin-bottom: 40px;
  @media (min-width: 750px) {
    display: none;
    margin-bottom: 0;
  }
}

.hubani {
  color: #1c82ad;
  font-weight: bold;
}

.text {
  color: #1e252c;
  font-size: 16px;
}

.qr-modal-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  z-index: 2;
  background-color: rgba(21, 26, 36, 0.9);
  .qr-modal {
    text-align: center;
    .qr-code {
      padding: 50px 0 80px;
      canvas {
        border: 10px solid white;
      }
    }
  }
}

.button-container {
  position: relative;
  height: 50px;
  display: flex;
  justify-content: center;
  button {
      position: relative;
      background: #1c82ad;
      width: 250px;
      height: auto;
      font-size: 20px;
      padding: 10px;
      border-radius: 6px;
      color: white;
      font-weight: bold;
      border: none;
      border-bottom: 2px solid #1c82ad;
      transition: all 0.3s;
      top: 0;
    &:hover {
      background: #1c82ad;
      border-bottom: 0px solid hsl(207, 88%, 55%);
      top: 2px;
    }
  }
}

label {
  font-weight: bold;
}

.input-wraper{
  display: flex;
  margin-top: 20px;
  align-items: center;
  width: 100%;
}

.label-wraper {
  width: 80px;
  flex-shrink: 0;
}

input {
  border: none;
  background-color: transparent;
  height: 30px;
  font-size: 16px;
  width: 100%;
  margin-right: 5px;
  &:focus {
    outline: none;
  }
}

.generate-QR-code {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 50px;
  button {
    position: relative;
    background: #1c82ad;
    height: auto;
    font-size: 16px;
    padding: 10px 15px;
    border-radius: 4px;
    color: white;
    font-weight: bold;
    border: none;
    transition: all 0.3s;
    top: 0;
    width: 100%;
    &:hover {
      background: #1c82ad;
      border-bottom: 0px solid hsl(207, 88%, 55%);
      top: 2px;
    }
    @media (min-width: 750px) {
      width: auto;
    }
  }
}

.margin {
  @media (min-width: 750px) {
    margin-top: 50px;
  }
  @media (min-width: 1600px) {
      margin-top: 0;
  }
}