.container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    flex-direction: column-reverse;
    @media (min-width: 1600px) {
        flex-direction: row;
    }
}

.card {
    width: 90%;
    height: 400px;
    overflow: hidden;
    border-radius: 4px;
    box-shadow: 0 20px 13px rgb(0 0 0 / 0.03);
    align-items: center;
    justify-content: space-between;
    display: none;

    @media (min-width: 750px) {
        display: flex;
    }
    @media (min-width: 1000px) {
        width: 70%;
    }
    @media (min-width: 1300px) {
        width: 50%;
    }
    @media (min-width: 1600px) {
        width: 40%;
    }
}

.card_back {
    @extend .card;
    background-color: #262d37;
    flex-direction: column;
}

.card_front {
    @extend .card;
    background-color: #fafafa;
}

.line {
    background-color: #1e252c;
    width: 100%;
    height: 40px;
}

.brand_container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.brand {
    font-size: 24px;
    font-weight: bold;
    color: #d8d8d8;
}

.website {
    font-size: 16px;
    margin-top: 10px;
    color: #1c82ad;
}

.brand_section {
    @extend .card_back;
    width: 60%;
    height: 100%;
    border-right: 5px solid #1c82ad;
    @media (min-width: 1600px) {
        width: 45%;
    }
}

.form_container {
    width: 100%;
    padding: 40px;
}