html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #151A24;
}

h1, h2, h3 {
  color: #EBE8E4;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.button-container {
  position: relative;
  height: 50px;
  display: flex;
  justify-content: center;
  button {
      position: relative;
      background: #B86200;
      width: auto;
      height: auto;
      font-size: 20px;
      padding: 10px;
      border-radius: 5px;
      color: white;
      font-weight: bold;
      border: none;
      border-bottom: 2px solid #944F00;
      transition: all 0.3s;
      top: 0;
    &:hover {
      background: #944F00;
      border-bottom: 0px solid hsl(32, 100%, 29%);
      top: 2px;
    }
  }
}

.qr-modal-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  z-index: 2;
  background-color: rgba(21, 26, 36, 0.9);
  .qr-modal {
    text-align: center;
    .qr-code {
      padding: 100px 0;
    }
  }
}

.wrapper {
  width: 360px;
  margin: 0 auto;
  @media only screen and (min-width: 360px) {
    width: 100%;
  }
  @media only screen and (min-width: 768px) {
    width: 768px;
  }
  .form-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #263042;
    margin-bottom: 50px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 20px;
    box-shadow: 0 3px 3px 4px #0f1012;
    .vcard-form {
      width: 360px;
      .inputs-container {
        width: 100%;
        display: flex;
        position: relative;
        .custom-input {
          width: 100%;
          label {
            pointer-events: none;
          }
        }
      }
      .custom-input {
        position: relative;
        height: 30px;
        margin: 20px 10px;
        input[type="text"]:focus,
        input[type="email"]:focus,
        input[type="tel"]:focus,
        input[type="text"]:not(:placeholder-shown),
        input[type="email"]:not(:placeholder-shown),
        input[type="tel"]:not(:placeholder-shown) {
          &~label {
            top: -20px;
            margin-left: 0;
          }
        }
        input {
          width: 100%;
          padding: 5px;
          position: absolute;
          z-index: 1;
          border: none;
          border-bottom: 2px solid #E9F2FD;
          background-color: transparent;
          color: #EBE8E4;
        }
      }
      label {
        position: absolute;
        z-index: 2;
        top: 50%;
        transform: translateY(-50%);
        margin-left: 10px;
        transition: all 0.2s;
        color: #E9F2FD;
      }
    }
  }
}